:root {
    --primary-color: #ee4e2e;
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgba(0, 0, 0, 0.8);
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__column {

}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Authen Modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: FadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.5;
    --growth-to: 1;
    position: relative;
    z-index: 1;
    animation: Growth linear 0.1s;
}

/* Button Style */
.btn {
    font-size: 1.5rem;
    height: 34px;
    min-width: 142px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    line-height: 34px;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 8px;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable {
    cursor: default;
    color: #9a9a9a;
    background-color: #ccc;
}
