.header {
    height: var(--header-height);
    background-image: linear-gradient(#f53e2d, #ff6634);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin: 0px;
}

.navbar__list-item {
    display: inline-flex;
    align-items: center;
    margin: 0 8px;
    position: relative;
    min-height: 16px;
    height: 100%;
}

.navbar__list-item,
.navbar__list-item-link {
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none;
    color: var(--white-color);
}

.navbar__list-item--hover-qr:hover .navbar__qr {
    display: flex;
}

.navbar__list-item:hover,
.navbar__list-icon-link:hover,
.navbar__list-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar__list-item--bold {
    font-weight: 500;
}

.navbar__list-item--separate::after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #fa8e82;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
}

.navbar__list-title--no-pointer {
    color: var(--white-color);
    cursor: default;
}

.navbar__list-item-link {
    display: inline-flex;
    align-items: center;
    padding: 9px 0;
}

.navbar__list-icon-link {
    color: var(--white-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.navbar__list-icon {
    font-size: 1.6rem;
    margin: 0 5px;
}

.navbar__qr {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    animation: FadeIn ease 0.1s;
}

.navbar__qr::before {
    content: "";
    display: block;
    position: absolute;
    top: -5%;
    left: 0;
    height: 5%;
    width: 100%;
}

.navbar__qr-img {
    width: 180px;
}

.navbar__qr-apps {
    width: 160px;
    margin-top: 4px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
}

.navbar__qr-apps-img {
    width: 45%;
    margin-bottom: 8px;
}

/* Header notification */
.navbar__notify {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    background-color: var(--white-color);
    transform-origin: calc(100% - 36px) top;
    will-change: opacity, transform;
    animation: navbar-nottyGrow ease-in 0.2s;
}

.navbar__notify::before {
    content: "";
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -21px;
    right: 20px;
}

.navbar__list-item-notify:hover .navbar__notify {
    display: block;
}

@keyframes navbar-nottyGrow {
    from {
        transform: scale(0);
        opacity: 0;        
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.navbar__notify-header {
    height: 40px;
    background-color: var(--white-color);
    padding: 0 8px;
    cursor: default;
    user-select: none;
}

.navbar__notify-header h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 400;
    line-height: 40px;
}

.navbar__notify-list {
    padding-left: 0;
}

.navbar__notify-item {
    padding: 12px;
}

.navbar__notify-item--notread {
    background-color: rgba(238, 78, 46, 0.05);
}

.navbar__notify-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.navbar__notify-link {
    text-decoration: none;
    display: flex;
    align-items: flex-start;    
}

.navbar__notify-img {
    width: 40px;
    padding-right: 4px;
}

.navbar__notify-info {
    flex: 1;
    margin-right: 12px;
}

.navbar__notify-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 4px;
    line-height: 1.4;
}

.navbar__notify-des {
    font-size: 1.2rem;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    margin-bottom: 4px;
}

.navbar__notify-footer {
    height: 40px;
    background-color: var(--white-color);
    padding: 0 8px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.01);
}

.navbar__notify-footer:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.navbar__notify-footer-link {
    display: block;
    height: 100%;
    margin: 0;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    line-height: 40px;
}

/* Auth Form */
.auth-form {
    width: 500px;
    border-radius: 4px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 12px 32px 24px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 12px;   
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);     
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    font-size: 1.2rem;
    height: 40px;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 1px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
}

.auth-form__policy-text {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: center;
    padding: 0 12px;
    margin: 4px 0;
}

.auth-form__text-link, 
.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
}

.btn.btn--primary {
    background-color: var(--primary-color);
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-facebook  {
    color: var(--white-color);
    background: #3A5A98;
}

.auth-form__socials-google {
    color: #777;
}

.auth-form__socials-facebook,
.auth-form__socials-google {
    width: 48%;
    display: flex;
}

.auth-form__socials-facebook 
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-google
.auth-form__socials-icon {
    color: #666;
}

.auth-form__socials-icon {
    flex: 0;
}

.auth-form__socials-text {
    text-align: center;
    flex: 1;
    padding-left: 8px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 4px 0;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
    padding: 3px 0;
}

.auth-form__help-separate {
    display: block;
    height: 20px;
    width: 1px;
    border: none;
    background-color: #eaeaea;
    margin: 0 12px;
}
 
.auth-form__help-link-forget {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    padding: 0 8px 9px 8px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    fill: var(--white-color);
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: white;
    margin-top: 14px;
}

.header__search {
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.header__search-input {
    font-size: 1.4rem;
    border: none;
    height: 100%;
    width: 100%;
    padding: 5px 12px;
    outline: none;
}

.header__search-history {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;    
    margin-top: 4px;
    width: calc(100% - 16px);
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    animation: FadeIn linear 0.05s;
}

.header__search-input:focus ~ 
.header__search-history {
    display: block;
}

.header__search-history-header {
    font-size: 1.4rem;
    color: #939393;
    padding: 12px 10px;
    margin: 0;
}

.header__search-history::before {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    top: -4px;
    left: 0;
}

.header__search-history-list {
    list-style: none;
    padding: 0;
    margin: 0;    
}

.header__search-history-item {
    padding: 12px 10px;       
    display: block;
}

.header__search-history-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-history-item a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-select {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent transparent var(--border-color);
    outline: none;
    padding: 0 16px;
    height: 28px;
    position: relative;
    cursor: pointer;    
}

.header__search-select:hover 
.header__search-option {
    display: block;
}

.header__search-select-lable {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

.header__search-select-icon {
    margin-left: 1.6rem;
    color: #4a4a4a;
}

.header__search-submit {
    width: 60px;
    min-width: 0;
    margin-right: 3px;
}

.header__search-submit:hover {
    opacity: 0.9;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    display: none;
    padding-left: 0;
    border-radius: 2px;    
    margin-top: 12px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    animation: FadeIn linear 0.1s;
}

.header__search-option::before {
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    position: absolute;
    top: -12px;
    left: 0;
}

.header__search-item {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    width: 100%;
    min-width: max-content;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.header__search-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-item-content {
    display: block;
}

.header__search-selected {
    margin-left: 16px;
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
}

.header__search-item--active 
.header__search-selected {
    display: inline-block;
}
